
@font-face {font-family: "PingFang";
    src: url('font/PingFang/PingFang Regular.eot'); /* IE9*/
    src: url('font/PingFang/PingFang Regular.eot') format('embedded-opentype'), /* IE6-IE8 */
    url('font/PingFang/PingFang Regular.woff') format('woff'),
    url('font/PingFang/PingFang Regular.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('font/PingFang/PingFang Regular.svg') format('svg'); /* iOS 4.1- */
}

* {
    font-family:"PingFang" !important;
}
