* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
}
ul li {
    float: left;
    text-align: center;
    height: 100%;
}

html,body{  /*控制界面撑满整个浏览器界面*/
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

